{{ form.non_field_errors }}

<div class="mb-4">
    {{ form.username.errors }}
    <label for="{{ form.username.id_for_label }}" class="block font-medium">
    Username
  </label> {{ form.username }}
</div>

<div class="mb-4">
    {{ form.password1.errors }}
    <label for="{{ form.password1.id_for_label }}" class="block font-medium">
    Password
  </label> {{ form.password1 }}
</div>

<div class="mb-4">
    {{ form.password2.errors }}
    <label for="{{ form.password2.id_for_label }}" class="block font-medium">
    Confirm password
  </label> {{ form.password2 }}
</div>